@model carRentals.Models.User
@{
    ViewData["Title"] = "User Dashboard";
}
<header>
    <h1>Welcome @ViewBag.name!</h1>
    <div class="buttonHolder">
        <a class="btn btn-pop center" asp-controller="carRentals" asp-action="userprof" asp-route-id="@ViewBag.userID">Your Account</a>
        <a class="btn btn-pop center" asp-controller="carRentals" asp-action="rent">Rent a Car</a>
        <a class="btn btn-dflt center" asp-controller="carRentals" asp-action="logout">Logout</a>
        @if (ViewBag.admin)
        {
            <a class="btn btn-dflt center" asp-controller="carRentals" asp-action="admindash">Admin Account</a>
        }
    </div>
</header>
<h2>Current Rentals</h2>
<table>
    <tr>
        <th>Car type</th>
        <th>Return Date</th>
        <th></th>
    </tr>
    @foreach (var rental in ViewBag.current)
    {
	    <tr>
	        <td>@rental.car.make  @rental.car.model</td>
	        <td>@rental.rented_at</td>
	        <td><a asp-controller="carRentals" asp-action="return" asp-route-id="@rental.rentalid">Return</a></td>
	    </tr>
    }
</table>
<h2>Overdue Rentals</h2>
<table>
    <tr>
        <th>Car type</th>
        <th>Return Date</th>
        <th></th>
    </tr>
    @foreach (var rental in ViewBag.overdue)
    {
	    <tr>
	        <td>@rental.car.make  @rental.car.model</td>
	        <td>@rental.rented_at</td>
	        <td><a asp-controller="carRentals" asp-action="return" asp-route-id="@rental.rentalid">Return</a></td>
	    </tr>
    }
</table>
