@using System
@using System.Windows.Forms
@model bids.Models.User
@{
    ViewData["Title"] = "User Dashboard";
}
<header>
	<h1>Current Auctions</h1>
    <h4>Welcome @ViewBag.Name!</h4>
	<a class="btn btn-dflt center" asp-controller="bids" asp-action="logout">Logout</a>
</header>
<table>
    <tr>
        <th>Product</th>
        <th>Seller</th>
        <th>Top Bid</th>
		<th>Time Remaining</th>
		<th></th>
    </tr>
    @foreach (Auction auction in ViewBag.Auctions)
    {
	    <tr>
	        <td>@auction.product</td>
	        <td>@auction.user.first_name</td>
			<td>@auction.high_bid</td>
			<td>@auction.end_date</td>
	        <td><a asp-controller="bids" asp-action="delete" asp-route-id="@auction.auction_id">Delete</a></td>
	    </tr>
    }
</table>
